$space-between: 20px;
$controls-height: 75px;

.editor-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.editor-controls {
  // Flex
  display: flex;
  align-items: center;
  padding: 0 20px; // Push the icons a little from both sides
  margin-bottom: $space-between; // Space between controls and actual editor
  // General styles
  background: white;
  height: $controls-height;
  border-radius: $radius;
  box-shadow: $card-shadow;

  $icon-size: 45px;
  $icon-color: #353535;
  // Each control
  &-item {
    // Override button styles
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    
    // Tooltip
    position: relative;
    &::before {
      position: absolute;
      content: attr(data-tooltip);
      background: $icon-color;
      color: white;
      font-size: 0.8rem;
      padding: 5px 10px;
      border-radius: 6px;
      top: -32px;
      // Center horizontally
      left: 50%;
      transform: translateX(-50%) translateY(-5px);
      opacity: 0;
      transition: 300ms ease-in-out;
      
    }
    &:hover::before {
      opacity: 1;
      transform: translateX(-50%) translateY(0px);
    }
    
    // Space out the controls
    margin-right: 10px;
    &:last-of-type {
      margin-right: 0;
    }
  }
  
  // Each icon
  &-icon {
    height: $icon-size;
    width: $icon-size;
    display: block; // Removes unnecessary height
    padding: 10px;
    border-radius: 100px; // Fully rounded
    // Colors
    background: $app-background;
    fill: $icon-color;

    // Hover effect
    transition: 200ms ease-in-out;
    &:hover {
      background: #ebebeb;
    }
  }
}

.editor {
  // Padding is 15vh on both sides so 70vh of height left minus the height that
  // the editor controls take up.
  // Have no idea where those 7 pixels came from but it is perfect this way.
  min-height: calc(70vh - #{$space-between + $controls-height - 7px});

  outline: none;  
  border-radius: $radius;
  width: 100%;
  padding: 45px;
  padding-right: 50px;
  background: white;
  box-shadow: $card-shadow;
}