// Global sass variables
$text-black: #24262B;
$text-normal: #4A4F59;
$text-light: #848D9D;

$radius: 15px;
$card-color: #FFFFFF;
$card-shadow: 0px 0px 16px rgba(0, 0, 0, 0.03);
$app-background: #F5F5F5;

// Color theme
$primary: #3086C5;